<div class="jumbotron card card-image" style="background-image: url(https://images.pexels.com/photos/2947922/pexels-photo-2947922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940); background-position: -25% 30%;">
  <div class="text-white text-center py-5 px-4">
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>GOSSIP 4.0</strong></h2>
      <p class="mx-7 mb-7">Un concept pas comme les autres</p>
  </div>
</div><br /> <br />
<div class= "text-center"><h2>Présentation</h2></div><br /> <br />
<div class="container">Bienvenue dans le programme Gossip 4.0, la version upgradée du site où les nerds se défoulent et racontent des folies.
</div><br /> <br />
<div class= "text-center"><h2>Ca sert à quoi?</h2></div>    <br /> <br />
<div class="container">Très clairement, ce site ne changera pas la face du monde, et ne le rendra pas plus beau. Au contraire, ici on aime la délation, les moqueries, les "Ouuuh il lui a trop manqué de respect !!"<br>On est mauvais, tout simplement.
</div><br /> <br />
<div class= "text-center"><h2>Instructions</h2></div>    <br /> <br />
  <div class="container">
    <p>-Inscris-toi</p>
    <p>-Balance les trucs les plus sales sur les camarades de The Hacking Project</p>
    <p>-Like et commente les potins des autres. L'intégrité la plus douteuse des développeurs te laissera modifier les commentaires des autres sans que personne ne sache que c'est toi...</p>
    <p>-Dis-nous ce que tu en penses via le formulaire de contact</p><br /><br /><br /><br />
  </div>
  <div class= "text-center"><h2>On vous laisse avec les paroles d'un grand poète</h2></div>    <br /> <br />
  <div class="container">
    A l'affût des potins<br />
    J'écoute les baratins<br />
    Quoi que tu fasses<br />
    Quoi que tu dises<br />
    Tôt ou tard on s'ra mis au courant de tous tes mauvais plans<br />
    Et ta vie de malfrat, on se la racontera<br />
    <br />
    Mieux qu'une concierge dans l'escalier<br />
    Nous sommes informés de toutes tes infidélités<br />
    Tes histoires de cul et les vélos qu'tu chourres<br />
    Crois moi c'est pas tombé dans les oreilles d'un sourd<br />
    <br />
    Amis du monde entier, <br />
    Venez nous divulguer c'qui vous est arrivé<br />
    Et nous le cafterons et on le répètera<br />
    Ca se déformera et ça s'emplifiera, plus d'amis tu n'auras<br />
    Et no more teuf pour toi et no more meuf non plus<br />
    <br />
    Où est la main de ta sœur<br />
    Attention la rumeur<br />
    Radio K SUR c'est la radio qu'assure<br />
    <br /><br />
    <h5>Radio K sur - Billy the Kick</h5>
  </div><br /><br /><br /><br />
