<div class="jumbotron card card-image" style="background-image: url(https://images.pexels.com/photos/2387793/pexels-photo-2387793.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="text-white text-center py-5 px-4">
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>LA DREAM TEAM</strong></h2>
      <p class="mx-7 mb-7">Venez découvrir notre équipe de développeurs fous</p>
  </div>
</div>
<div class="d-flex">
  <div class="row justify-content-center" style="margin-top:30px">
    <div class="col-md-2 col-sm-6 col-xs-12 m-4">
      <div class="card-block mb-4 box-shadow">
        <img class="card-img-top img-thumbnail" src="https://pic.clubic.com/v1/images/1145093/raw" alt="Card image cap">
        <div class="card-body">
          <p class="card-text lead text-center">Mahmood <br>Sharifi</p>
          <p class="card-text small text-center">The leader of the pack</p>
          <div class="d-flex justify-content-between align-items-center"></div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12 m-4">
      <div class="card-block mb-4 box-shadow">
        <img class="card-img-top img-thumbnail" src="https://pic.clubic.com/v1/images/1145093/raw" alt="Card image cap">
        <div class="card-body">
          <p class="card-text lead text-center">David <br>Serfaty</p>
          <p class="card-text small text-center">The hero of the story</p>
          <div class="d-flex justify-content-between align-items-center"></div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12 m-4">
      <div class="card-block mb-4 box-shadow">
        <img class="card-img-top img-thumbnail" src="https://pic.clubic.com/v1/images/1145093/raw" alt="Card image cap">
        <div class="card-body">
          <p class="card-text lead text-center">Jonathan <br>Bouillaux</p>
          <p class="card-text small text-center">The man in the mirror</p>
          <div class="d-flex justify-content-between align-items-center"></div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12 m-4">
      <div class="card-block mb-4 box-shadow">
        <img class="card-img-top img-thumbnail" src="https://palmettopayroll.net/wp-content/uploads/2020/07/bigstock-Female-hacker-hacking-security-351691055.jpg" alt="Card image cap">
        <div class="card-body">
          <p class="card-text lead text-center">Joséphine <br>Rémy</p>
          <p class="card-text small text-center">The little girl blue</p>
          <div class="d-flex justify-content-between align-items-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>
